<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="vScreen.lib.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <vScreen.lib.Settings1>
            <setting name="IgnoreClassRegEx" serializeAs="String">
                <value>(Button)</value>
            </setting>
            <setting name="IgnoreTitleRegEx" serializeAs="String">
                <value>(###vscreen)|(Visual Studio)|(Program Manager)|(vScreen)|(frmDesktopBitmap)</value>
            </setting>
        </vScreen.lib.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
